body {
margin:0;
font-family:'IBM Plex Sans Condensed',sans-serif;
line-height: 1.4;
}

html,body {
height:100%;
}

.hidden {
display:none;
}

.container {
position: static;
}

.control {
z-index:1000;
position:absolute;
background-color:rgba(255,255,255,0.5);
}

.control.deixar {
bottom:10px;
left:50%;
}

.control.equip {
top:10px;
left:80px;
}

.control.info {
top:30px;
left:80px;
}

#map {
width:100%;
height:100vh;
}

.wrap, form {
padding: 0 1rem;
}

.page {
padding: 1rem;
}

.page h1 {
margin-top: 1em;
margin-bottom: 0.5em;}

#register,
.ranquing {
padding-top: 1em;
}

/* header */
.navbar-menu.is-active,
a.navbar-item.is-active:not(:hover),
.navbar-link.is-active:not(:hover),
.navbar-item,.navbar-link {
background-color:#333;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
background-color:#333;
color:#fff;
}

.navbar-item,.navbar-link {
color:#fff;
border-bottom:1px solid #666;
}

.navbar-menu {
padding:0;
}

.navbar-burger span {
right:0;
left:auto;
}

header {
background-color:#000;
color:#fff;
text-transform:uppercase;
display:flex;
justify-content:space-between;
}

.navbar-burger,header {
height: 3rem;
}

header h1 {
font-size: 1rem;
margin:0;
line-height: 3rem;
font-weight: 400;
}

header h1 a,
header h1 a:visited,
header h1 a:hover {
color:#fff;
}

/* llistat equips entrada */

#llistat_equips {
display: flex;
flex-wrap: wrap;
}

#llistat_equips li, .ranking li {
background-color:#eaeaea;
padding:.5em 1em;
text-transform:uppercase;
margin: 2px;
}

#llistat_equips li:hover,#llistat_equips li:focus {
background-color:#fffb00;
}

#llistat_equips li a {
display:block;
text-decoration: none;
}

/* ranking */

.ranking li {
display: flex;
justify-content: space-between;
margin: 0 0 2px 0;
}

.ranking li.selected {
background-color:#fffb00;
}

.ranking_nom {
text-transform: uppercase;
}

.ranking.punts li {
text-transform: none;
}

span.punts {
white-space: nowrap;
padding-left: 20px;
font-weight: 700;
text-transform: uppercase;
}


/* mapa i imatge popup */

#images {
position: fixed;
top: 0;
right: 0;
left: 0;
bottom: 0;
z-index: 999;
width: 100vw;
height: 100vh;
}

#map {
z-index: 99;
}

.bubble {
font-family:'IBM Plex Sans Condensed',sans-serif;
font-size: 0.75rem;
font-weight: 400;
}

.bubble h2 {
font-size: 1rem;
font-weight: 700;
text-transform: uppercase;
}

.spoiler {
font-size: 1rem;
}

.bubble li {
padding: 10px;
text-align: center;
}

a.msg, a.images {
font-weight: 700;
display: block;
font-size: 1rem;
}

#images .content {
z-index: 1000;
position: relative;
}

.close {
position: absolute;
top: 15px;
right: 15px;
z-index: 1001;
color: #fff;
width: 24px;
height: 24px;
text-indent: -999em;
background: url(../img/ico_close.svg) no-repeat center center;
display: block;
}

.leaflet-popup-content {
margin: 10px;
}

/* generals */

h1 {
font-size: 1.5rem;
margin-bottom: 1em;
font-weight: 700;
}

.instruccions {
padding-top: 1em;
}

.instruccions p {
margin-bottom: 1em;
}

.instruccions a {
text-decoration: underline;
}

/* menu resum */

.resum {
text-transform:uppercase;
display:flex;
justify-content:space-between;
border-bottom:1px solid #ccc;
padding:0;
line-height: 1;
font-size: 0.875rem;
}

.resum p {
margin:0;
}

.resum p.nom_equip {
font-weight:700;
}

.resum li {
flex:1;
border-right:1px solid #ccc;
text-align:center;
padding:10px 5px;
display: flex;
flex-direction: column;
justify-content: center;
}

.resum li:last-of-type {
border-right:none;
}


/* formularis */

input.button,
input.input,
.bubble li {
border-radius:0;
display:block;
margin:.5rem auto;
font-weight:700;
text-transform:uppercase;
width:100%;
box-shadow:none;
}

input.input {
border:1px solid #666;
}

input.button {
border:none;
background-color:red;
color:#fff;
}

input.button:hover,input.button:focus {
color:#fff;
background-color:#b40000;
}

.button:not(#seguent) {
padding-top:1em;
padding-bottom:1em;
height:auto;
}

.notification,
.bubble li {
margin:1em 0;
background-color:#eaeaea;
}

.notification {
background-color: aqua;
}

label {
text-transform:uppercase;
margin-top:1em;
font-weight: bold;
}

label.label_info {
text-transform:none;
font-weight: 400;
}

#upload-progress{
  height:20px;
  width:100%;
  background-color: #ccc;
}

#upload-progress div{
  background-color: green;
  height:20px;
  width:0;
}

.mode.textarea {
margin-top: 0.5em;
}

.input_pujar {
padding: 1em 0;
}
