body {
margin: 0;
font-family: helvetica, arial, sans-serif;
}


/** video al llistat */
.grocerycrud-container video{
	width:200px;
	height:auto;
}

.ts{
	display:none;
}


/* per marcar items sense moderar */

tr.not-moderated td,tr.not-moderated:hover td{
	background-color: #f66 !important;
}


.ajax_list video{
	width:300px;
	height:auto;
}

/* menu de dalt */

#menu {
background-color: #0275d8;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
padding: 0;
margin: 0;
}

#menu li {
flex: 0 1 200px;
text-align: center;
list-style-type: none;
}

#menu a {
color: #fff;
text-decoration: none;
display: block;
padding: 20px;
}

#menu a:hover {
background-color: #61a4de;
}
/* create json */

a, a:visited {
color: #0275d8;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.content.create {
max-width: 600px;
margin: 50px auto;
}

h1 {
width: 100%;
color: }
